.order-details {
  box-shadow: 0px 2px 5px rgb(0 0 0 / 20%);
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  margin-right: 20px;
}

.delete {
  width: 20px;
  height: 20px;
}

.delete:hover {
  cursor: pointer;
}

.order {
  display: flex;
}

.img img {
  height: 180px;
  width: 200px;
  object-fit: contain;
}

.details h5 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  margin-top: 10px;
}

.details h6 {
  margin-top: 20px;
  font-weight: 400;
}
