.skill-card {
  border-radius: 10px;
  border: 1px solid lightblue;
}

.skill-card:hover {
  border: 1px solid rgb(3, 76, 100);
}

.icon {
  height: 50px;
  width: 50px;
}

.name {
  color: #f47629;
}
