.order-card {
  border-radius: 10px;
  border: 1px solid lightblue;
}

.order-card:hover {
  border: 1px solid rgba(233, 10, 10, 0.664);
  box-shadow: 0px 2px 5px rgb(233, 10, 10/ 20%);
  cursor: pointer;
}
