.not-found {
  width: 300px;
  height: 270px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
}

.not-found h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 70px;
  color: grey;
}
