.slider-container {
  background: #111430;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;
}

.carousel-image {
  width: 350px;
  height: 220px;
}

@media only screen and (min-width: 442px) and (max-width: 582px) {
  .carousel-image {
    width: 98%;
    height: 180px;
  }
}

@media only screen and (min-width: 583px) and (max-width: 1000px) {
  .carousel-image {
    width: 90%;
    height: 180px;
  }
}
